@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?33b0075496070c5dd499e720d8857abb") format("truetype"),
url("./flaticon.woff?33b0075496070c5dd499e720d8857abb") format("woff"),
url("./flaticon.woff2?33b0075496070c5dd499e720d8857abb") format("woff2"),
url("./flaticon.eot?33b0075496070c5dd499e720d8857abb#iefix") format("embedded-opentype"),
url("./flaticon.svg?33b0075496070c5dd499e720d8857abb#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-foto:before {
    content: "\f101";
}
.flaticon-pelicula-3d:before {
    content: "\f102";
}
